<div class="col-md-9">
  <div class="jumbotron" style="padding: 12em 0px 0px 0px;background:#11AA99; margin-left: 15em;">
    <%= form_with(model: @customer, url: user_carts_path, local: true, html: { class:"login", style:"min-width:100%;max-width:100%;padding-bottom:3em;" }) do |f| %>
          <p class="title" style="text-align:center;">Add Your Information</p>
        <% if @customer.errors.any? %>
          <div class="form-group alert alert-error alert-block" id="error_explanation">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <% @customer.errors.full_messages.each do |message| %>
              <h6 class="heading_error"><%= message%></h6>
            <% end %>
          </div>
        <% end %>
        <br>
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <%= f.label :first_name, "First Name", class:"label" %><br />
            <%= f.text_field :first_name, autofocus: true, placeholder: 'First Name', class: 'form-control', style:"font-size: 1em;", required: true %>
          </div>
          <div class="col-md-6 col-xs-12">
            <%= f.label :last_name, "Last Name", class:"label" %><br />
            <%= f.text_field :last_name, autofocus: true, placeholder: 'Lastt Name', class: 'form-control', style:"font-size: 1em;", required: true %>
          </div>
          <div class="col-md-6 col-xs-12">
            <%= f.label :email, "Email", class:"label" %><br />
            <%= f.text_field :email, autofocus: true, class: 'form-control', style:"font-size: 1em;", required: true %>
          </div>
          <div class="col-md-6 col-xs-12">
            <%= f.label :phone, "Phone No#", class:"label" %><br />
            <%= f.text_field :phone, autofocus: true, class: 'form-control', style:"font-size: 1em;", required: true %>
          </div>
        </div>
        <%= f.submit "Save", style:"margin-top:1.2em;"%>
    <%end%>
  </div>
</div>
