<% content_for :title, "Edit Item | Traffle" %>
<div class="container-fluid" style="background:#F5CBA7;">
  <div class="mainmenu-area">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify" style="font-size:33px;color:#BA4A00;"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" style="padding:0px;margin:0px;">
          <ul class="nav navbar-nav" style="padding:0px;margin:0px;">
            <li><%= link_to("Home", root_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Real Estate",  real_estate_homes_path, class:"my_nav_bar", onclick:"change(this, 1)")%></li>
            <li><%= link_to("Electronics",  electronics_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Phones and Tablets",  phone_and_tablets_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Automobiles",  automobiles_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Featured Items",  featured_items_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Raffle Items",  raffle_items_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Recent Winners", recent_winners_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Sell an Item",  new_user_product_path, class:"my_nav_bar")%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <% if notice %>
    <div id="notice_wrapper" class="my_notice">
      <center><p class="app_notice"><%= notice %></p></center>
    </div>
  <%elsif alert %>
    <div id="notice_wrapper" class="my_alert">
      <center><p class="app_alert"><%= alert %></p></center>
    </div>
  <% end %>
</div>
<!--banner-->
<div class="container-fluid">
  <div class="row">
    <div class="row">
      <center>
        <div class="container">
          <div class="modal fade" id="addPhoto">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Header -->
                <div class="modal-header" style="background: #F5CBA7;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 class="heading_text" style="color:white;">Choose Avatar</h4></center>
                </div>
                <!-- Body (form) -->
                <div class="modal-body">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12">
                        <center>
                          <%= form_for :user, url: change_image_user_dashboard_path(current_user.id), html: { multipart: true } do |form| %>
                          <%if current_user.avatar.present? %>
                          <%= image_tag (current_user.avatar(:original)),id: 'postimg',class: 'img-responsive img-circle img-thumbnail profile-img', style:"width:200px;height:200px;" %>
                          <%elsif current_user.image_url != nil%>
                          <%= image_tag (current_user.image_url),id: 'postimg',class: 'img-responsive img-circle img-thumbnail profile-img', style:"width:200px;height:200px;" %>
                          <%else %>
                          <%= image_tag ("user.png"),id: 'postimg', class: 'img-responsive img-circle img-thumbnail profile-img', style:"width:200px;height:200px;" %>
                          <%end%>
                          <%= form.file_field :avatar, id:"post-upload",class: "btn btn-info" %>
                          <h4 class="heading_text" style="font-style: italic;color:#2DBF7F;font-weight:normal;">Preview</h4>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                      <%= form.submit "Save", class:"btn btn-success btn-block" %>
                    </div>
                    <div class="col-md-3">
                      <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-3"></div>
                  </div>
                <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </center>
    </div>
    <%= render 'user/user_panel'%>
    <div class="col-md-9">
      <div class="jumbotron" style="padding: 2.5em 0px 0px 0px;background:#FFFFFF;">
        <%= form_with(model: @product, url: user_product_path(@product.id), method: :patch, local: true, html: { multipart: true, class:"login", style:"min-width:100%;max-width:100%;padding-bottom:3em;" }) do |f| %>
          <% if controller.action_name == "new" %>
              <p class="title" style="text-align:center;">Add New Item</p>
            <% elsif controller.action_name == "edit" %>
              <p class="title" style="text-align:center;">Edit Item</p>
            <% end %>
            <% if @product.errors.any? %>
              <div class="form-group alert alert-error alert-block" id="error_explanation">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <% @product.errors.full_messages.each do |message| %>
                  <h6 class="heading_error"><%= message%></h6>
                <% end %>
              </div>
            <% end %>
            <div class="row">
              <% count = 1 %>
              <% @count_img = @product.images.count %>
              <%= f.fields_for :images do |a|%>
                <div class="col-md-3 col-xs-12">
                  <center>
                    <% if (count <= (@count_img))%>
                      <%= image_tag(@product.images[count-1].avatar, id:"product-"+count.to_s, style:"width:100%;height:13em;", class:"img-responsive img-thumbnail product_img")%>
                      <%= a.file_field :avatar,class: "btn btn-info btn-sm", style:"width:100%;display:none;", id:"add-product-"+count.to_s  %>
                    <%else%>
                      <%= image_tag('add.jpg', id:"product-"+count.to_s, style:"width:100%;height:13em;", class:"img-responsive img-thumbnail product_img")%>
                      <%= a.file_field :avatar,class: "btn btn-info btn-sm", style:"width:100%;display:none;", id:"add-product-"+count.to_s  %>
                    <%end%>
                  </center>
                </div>
                <% count = count + 1%>
              <% end %>

            </div>
            <br>
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <%= f.label :category, "Category", class:"label" %><br />
                <%= f.select :category, options_for_select([ "Real Estate", "Electronics", "Phones and Tablets", "Automobiles", "Featured Items", "Promoted Items"]),{prompt: "Select Item Category"}, {class: 'form-control', style:"font-size: 0.9em;", required: true}%>
              </div>
              <div class="col-md-4 col-xs-12">
                <%= f.label :title, "Title", class:"label" %><br />
                <%= f.text_field :title, autofocus: true, placeholder: 'Item Title  (minimum 10 characters)', class: 'form-control', style:"font-size: 1em;", required: true %>
              </div>
              <div class="col-md-4 col-xs-12">
                <%= f.label :price, "Price", class:"label" %><br />
                <%= f.number_field :price, autofocus: true, placeholder: 'Enter the price of Item', class: 'form-control', style:"font-size: 1em;", required: true, min:"1" %>
              </div>
              <div class="col-md-4 col-xs-12">
                <%= f.label :ticket_price, "Ticket Price", class:"label" %><br />
                <%= f.select :ticket_price, options_for_select([ ["₦ 100", 100],["₦ 200", 200],["₦ 300", 300],["₦ 500", 500],["₦ 1000", 1000],["₦ 3000", 3000],["₦ 5000", 5000],["₦ 10000", 10000]  ]),{prompt: "Select Ticket Price"}, {class: 'form-control', style:"font-size: 0.9em;", required: true}%>

              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-12 col-xs-12">
                <%= f.label :count_down, class: "label" %>
                <br>
                <%= f.datetime_select :count_down, {prompt: true, selected: Date.today, min: 5.days.ago, max: 1.year.from_now}, {class: 'form-control', style:"font-size: 0.8em;width:18.95%;display:inline-block;", required: true}%>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.label :short_description, "Short Description", class:"label" %><br />
                <%= f.text_area :short_description, autofocus: true, placeholder: 'Tell people someting about Your item  (minimum 30 characters)', class: 'form-control', size: "4x4", style:"resize: none; font-size: 1em;", required: true %>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= f.label :long_description, "Description", class:"label" %><br />
                <%= f.text_area :long_description, autofocus: true, placeholder: 'Tell people briefly about Your item  (minimum 30 characters)', class: 'form-control', size: "4x4", style:"resize: none; font-size: 1em;", required: true %>
              </div>
            </div>
            <%= f.submit "Save", style:"margin-top:1.2em;"%>
        <%end%>
      </div>
    </div>
  </div>
</div>
<!-- *************************** Start Script for Uploading Image in Post ************************* -->
<script>
  $(document).ready(function() {
    $("#product-1").click(function(){
      document.getElementById('add-product-1').click();
    });
    $("#product-2").click(function(){
      document.getElementById('add-product-2').click();
    });
    $("#product-3").click(function(){
      document.getElementById('add-product-3').click();
    });
    $("#product-4").click(function(){
      document.getElementById('add-product-4').click();
    });
    $("#add-product-1").on('change', function() {
      //alert("Hello");
      //console.log("On Change Function Started");
      //Get count of selected files
      var countFiles = $(this)[0].files.length;
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $("#postImage-holder");
      image_holder.empty();
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof(FileReader) != "undefined") {
          //loop for each file selected for uploaded.
          for (var i = 0; i < countFiles; i++)
          {
            var reader = new FileReader();
            reader.onload = function(e) {
              $('#product-1').attr('src', e.target.result);
            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[i]);
          }
        } else {
          alert("This browser does not support FileReader.");
        }
      }else {
        alert("Please select only images");
      }
    });
    $("#add-product-2").on('change', function() {
      //alert("Hello");
      //console.log("On Change Function Started");
      //Get count of selected files
      var countFiles = $(this)[0].files.length;
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $("#postImage-holder");
      image_holder.empty();
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof(FileReader) != "undefined") {
          //loop for each file selected for uploaded.
          for (var i = 0; i < countFiles; i++)
          {
            var reader = new FileReader();
            reader.onload = function(e) {
              $('#product-2').attr('src', e.target.result);
            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[i]);
          }
        } else {
          alert("This browser does not support FileReader.");
        }
      }else {
        alert("Please select only images");
      }
    });
    $("#add-product-3").on('change', function() {
      //alert("Hello");
      //console.log("On Change Function Started");
      //Get count of selected files
      var countFiles = $(this)[0].files.length;
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $("#postImage-holder");
      image_holder.empty();
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof(FileReader) != "undefined") {
          //loop for each file selected for uploaded.
          for (var i = 0; i < countFiles; i++)
          {
            var reader = new FileReader();
            reader.onload = function(e) {
              $('#product-3').attr('src', e.target.result);
            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[i]);
          }
        } else {
          alert("This browser does not support FileReader.");
        }
      }else {
        alert("Please select only images");
      }
    });
    $("#add-product-4").on('change', function() {
      //alert("Hello");
      //console.log("On Change Function Started");
      //Get count of selected files
      var countFiles = $(this)[0].files.length;
      var imgPath = $(this)[0].value;
      var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
      var image_holder = $("#postImage-holder");
      image_holder.empty();
      if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
        if (typeof(FileReader) != "undefined") {
          //loop for each file selected for uploaded.
          for (var i = 0; i < countFiles; i++)
          {
            var reader = new FileReader();
            reader.onload = function(e) {
              $('#product-4').attr('src', e.target.result);
            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[i]);
          }
        } else {
          alert("This browser does not support FileReader.");
        }
      }else {
        alert("Please select only images");
      }
    });
  });
</script>
<!-- *************************** End Script for Uploading Image in Post ************************* -->
