<% content_for :title, "Contact Us | Traffle" %>
  <div class="container-fluid my_top_div">
    <div class="contact">
      <div class="container">
        <h3>Contact Us</h3>
        <div class="contact-grids">
          <div class="contact-form">
            <%= form_with(model: contact, local: true) do |form| %>
              <% if contact.errors.any? %>
                <div class="form-group alert alert-error alert-block" id="error_explanation">
                  <button type="button" class="close" data-dismiss="alert">x</button>
                  <% contact.errors.full_messages.each do |message| %>
                    <h6 class="heading_error"><%= message%></h6>
                  <% end %>
                </div>
             <% end %>
              <div class="contact-bottom">
                <div class="col-md-4 in-contact">
                  <span style="color:#BA4A00">Name</span>
                  <%= form.text_field :name, autofocus: true, placeholder: 'Your Name', class: 'form-control', style:"font-size: 1em;color:#BA4A00;", required: true %>
                </div>
                <div class="col-md-4 in-contact">
                  <span style="color:#BA4A00">Email</span>
                  <%= form.email_field :email, autofocus: true, placeholder: 'Your Email', class: 'form-control', style:"font-size: 1em;color:#BA4A00;", required: true %>
                </div>
                <div class="col-md-4 in-contact">
                  <span style="color:#BA4A00">Phonenumber</span>
                  <%= form.number_field :phone_no, autofocus: true, placeholder: 'Your Number', class: 'form-control', style:"font-size: 1em;color:#BA4A00;", required: true %>
                </div>
                <div class="clearfix"> </div>
              </div>

              <div class="contact-bottom-top">
                <span style="color:#BA4A00">Message</span>
                <%= form.text_area :message, autofocus: true, placeholder: 'Your Message', class: 'form-control', style:"font-size: 1em;color:#BA4A00;", required: true %>
                </div>
              <%= form.submit "Send", style:"float:right;background:#BA4A00;" %>
            </form>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
