<div class="container-fluid" style="padding-top:1em;">
  <h2 style="text-align:center;">Customer's Request</h2>
  <hr style="background:#BA4A00;height:2px;">
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone no</th>
          <th>Message</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name %></td>
            <td><%= contact.email %></td>
            <td><%= contact.phone_no %></td>
            <td><%= contact.message %></td>
            <td><%= link_to 'Destroy', contact, method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <center>
    <%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
  </center>
</div>
