<div class="col-md-2 product-bottom" style="padding:0px;">
  <div class="rsidebar span_1_of_left">
    <h3 class="cate">Categories</h3>
    <ul class="menu-drop">
      <li style="padding:0px;margin:0px;"><%= link_to("Real Estate",  real_estate_homes_path) %></li>
      <li style="padding:0px;margin:0px;"><%= link_to("Electronics",  electronics_homes_path) %></li>
      <li style="padding:0px;margin:0px;"><%= link_to("Phones and Tablets",  phone_and_tablets_homes_path) %></li>
      <li style="padding:0px;margin:0px;"><%= link_to("Automobiles",  automobiles_homes_path) %></li>
      <li style="padding:0px;margin:0px;"><%= link_to("Featured Items",  featured_items_homes_path) %></li>
      <li style="padding:0px;margin:0px;"><%= link_to("Promoted Items",  promoted_items_homes_path) %></li>
      <li style="padding:0px;margin:0px;"><%= link_to("Items by location",items_by_location_homes_path) %></li>
      <li style="padding:0px;margin:0px;"><%= link_to("Sell an Item",  new_user_product_path) %></li>
    </ul>
  </div>
</div>
