<% content_for :title, "Automobiles | Traffle" %>
<div class="container-fluid" style="background:#F5CBA7;">
  <div class="mainmenu-area">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify" style="font-size:33px;color:#BA4A00;"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" style="padding:0px;margin:0px;">
          <ul class="nav navbar-nav" style="padding:0px;margin:0px;">
            <li><%= link_to("Home", root_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Real Estate",  real_estate_homes_path, class:"my_nav_bar", onclick:"change(this, 1)")%></li>
            <li><%= link_to("Electronics",  electronics_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Phones and Tablets",  phone_and_tablets_homes_path, class:"my_nav_bar")%></li>
            <li class="active"><%= link_to("Automobiles",  automobiles_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Featured Items",  featured_items_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Raffle Items",  raffle_items_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Recent Winners", recent_winners_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Sell an Item",  new_user_product_path, class:"my_nav_bar")%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row main_row">
  <h2 class="main_row_text">AUTOMOBILES</h2>
</div>
<div class="row" >
  <% if notice %>
    <div id="notice_wrapper" class="my_notice">
      <center><p class="app_notice"><%= notice %></p></center>
    </div>
  <%elsif alert %>
    <div id="notice_wrapper" class="my_alert">
      <center><p class="app_alert"><%= alert %></p></center>
    </div>
  <% end %>
</div>
<div class="container-fluid" style="padding-top:2em;padding-bottom:2em;">
  <div class="products">
		<div class="col-md-12">
      <div class="content-top1">
        <% @products.each do |p| %>
          <div class="col-md-4" style="margin-top:15px;">
            <%= render :partial => 'item', locals: {p: p} %>
          </div>
        <% end %>
      </div>
    </div>
    <center>
      <%= will_paginate @p, renderer: BootstrapPagination::Rails %>
    </center>
  </div>
</div>
