<% content_for :title, "How To Play | Traffle" %>
<div class="container-fluid" style="background:#F5CBA7;">
  <div class="mainmenu-area">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify" style="font-size:33px;color:#BA4A00;"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" style="padding:0px;margin:0px;">
          <ul class="nav navbar-nav" style="padding:0px;margin:0px;">
            <li><%= link_to("Home", root_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Real Estate",  real_estate_homes_path, class:"my_nav_bar", onclick:"change(this, 1)")%></li>
            <li><%= link_to("Electronics",  electronics_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Phones and Tablets",  phone_and_tablets_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Automobiles",  automobiles_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Featured Items",  featured_items_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Raffle Items",  raffle_items_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Sell an Item",  new_user_product_path, class:"my_nav_bar")%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <% if notice %>
    <div id="notice_wrapper" class="my_notice">
      <center><p class="app_notice"><%= notice %></p></center>
    </div>
  <%elsif alert %>
    <div id="notice_wrapper" class="my_alert">
      <center><p class="app_alert"><%= alert %></p></center>
    </div>
  <% end %>
</div>
<!--banner-->
<div class="container-fluid">
  <div class="products">
		<h2 style="color: #FFA07A;"><center><span>How to Play</span></center>
        <hr style="color: #f00; background-color: #FFA07A; height: 5px; width:25%;">
    </h2>
    <br>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <center>
          <div class="circle">
            <div class="col-md-12 col-xs-12">
              <h4 style="margin-top:2em; color: #FFFFFF;"><center>Step 1</center></h4>
            </div>
          </div>
          <br>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <h4><center>Sigh Up/Sign In</center></h4>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">

          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <p>
                Registration is required for new users who wish to play for an
                item on the <b>TRAFFLE</b>. Signing up is easy and free of
                charge, simply provide an email address or phone number and
                you are good to go. Afterwards, proceed to setting up your
                profile to provide a detailed information of yourself. We would
                love to know more about you.
              </p>
            </div>
            <div class="col-md-2">
            </div>
          </div>

        <br><br><br>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <div class="circle">
            <div class="col-md-12 col-xs-12">
              <h4 style="margin-top:2em; color: #FFFFFF;"><center>Step 2</center></h4>
            </div>
          </div>
          <br>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <h4><center>FUND YOUR WALLET</center></h4>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">
    >
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <p>
                Once registration and signing in has been completed, quickly
                proceed to funding your wallet with your desired amount. On
                your account page, select "my wallet", click on recharge, enter
                amount and select your desired payment option. Once this is
                done, proceed to the fun part... searching for prizes.
              </p>
            </div>
            <div class="col-md-2">
            </div>
          </div>

        <br><br><br>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <div class="circle">
            <div class="col-md-12 col-xs-12">
              <h4 style="margin-top:2em; color: #FFFFFF;"><center>Step 3</center></h4>
            </div>
          </div>
          <br>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <h4><center>SEARCH AND SELECT PRIZES</center></h4>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">

          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <p>
                There are fantastic prizes grouped in several categories for you
                to choose from. At the top of the page click on the 'Play Now' tab
                and pick the prize(s) you wish to play for while indicating the
                amount of raffle tickets you wish to purchase for the item. This
                automatically adds your prize(s) of choice to your cart. When
                you are done selecting, proceed to click on the cart icon as
                indicated in the diagram below. You will find a list of all the items
                you have selected in your cart. This here, is your chance to
                confirm the number of raffle tickets you wish to buy for each
                prize. Proceed to checkout once you are done with this. Bored?
                You are just one tiny step away from winning your dream private
                jet, car, house, mobile phone and lots more. We will let you in on
                a little secret. The higher the quantity of raffle tickets you
                purchase for a prize, the better your chances of winning. Cool
                right?
              </p>
            </div>
            <div class="col-md-2">
            </div>
          </div>

        <br><br><br>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <div class="circle">
            <div class="col-md-12 col-xs-12">
              <h4 style="margin-top:2em; color: #FFFFFF;"><center>Step 4</center></h4>
            </div>
          </div>
          <br>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <h4><center>PURCHASE RAFFLE TICKETS FOR THE SELECTED ITEMS</center></h4>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">

          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <p>
                The checkout point is the final point. You will find a summary of
                your activities which include number of selected items as well as
                number of raffle tickets you have decided to purchase for those
                items. Where you still have an empty wallet, you can decide to
                credit your wallet or make a one-time payment to complete the
                purchase of your tickets for the selected items. That isn’t so hard
                is it? Peep Step 2 for assistance.
              </p>
            </div>
            <div class="col-md-2">
            </div>
          </div>

        <br><br><br>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <div class="circle">
            <div class="col-md-12 col-xs-12">
              <h4 style="margin-top:2em; color: #FFFFFF;"><center>Step 5</center></h4>
            </div>
          </div>
          <br>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <h4><center>WINNER DRAW NOTIFICATIONS</center></h4>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">

          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <p>
                This is where you sit back for the winners draw notification. Yes,
                we know, waiting is not so easy. Be rest assured that the lucky
                winner will be generated in a minute when all the available
                subscription of tickets are sold, and the winning chance is
                matched with the number of tickets purchased. While you wait,
                look around some more, there’s always something extra you’d
                love to play for or you may click on the ‘Draw result’ to view
                recent winners.
              </p>
            </div>
            <div class="col-md-2">
            </div>
          </div>

        <br><br><br>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <div class="circle">
            <div class="col-md-12 col-xs-12">
              <h4 style="margin-top:2em; color: #FFFFFF;"><center>Step 6</center></h4>
            </div>
          </div>
          <br>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">
        <center>
          <h4><center>PRIZE CLAIMING AND DELIVERY</center></h4>
        </center>
      </div>
      <div class="col-md-12 col-xs-12">

          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <p>
                An SMS, email and push notification will be sent to you the
                second you have won one of our exciting prizes. This email will
                contain instructions of how to go about claiming your prize. Hey
                wait! Before the ticket purchase begins, note that winnings must
                be redeemed within 6 months from the date a winner is
                announced. There you go! We wish you an amazing experience
                on <b>TRAFFLE</b> and best of luck.
              </p>
            </div>
            <div class="col-md-2">
            </div>
          </div>

        <br><br><br>
      </div>
    </div>
  </div>
</div>
