<% content_for :title, "Home | Traffle" %>

<div class="container-fluid" style="background:#F5CBA7;">
  <div class="mainmenu-area">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify" style="font-size:33px;color:#BA4A00;"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" style="padding:0px;margin:0px;">
          <ul class="nav navbar-nav" style="padding:0px;margin:0px;float:center;width:100%;margin-left:150px;">
            <li class="active"><%= link_to("Home", root_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Real Estate",  real_estate_homes_path, class:"my_nav_bar", onclick:"change(this, 1)")%></li>
            <li><%= link_to("Electronics",  electronics_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Phones and Tablets",  phone_and_tablets_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Automobiles",  automobiles_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Featured Items",  featured_items_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Sell an Item",  new_user_product_path, class:"my_nav_bar")%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <% if notice %>
    <div id="notice_wrapper" class="my_notice">
      <center><p class="app_notice"><%= notice %></p></center>
    </div>
  <%elsif alert %>
    <div id="notice_wrapper" class="my_alert">
      <center><p class="app_alert"><%= alert %></p></center>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12" style="padding:0px;margin:0px;width:100%;height:500px;">
    <!-- Start WOWSlider.com BODY section -->
    <div id="wowslider-container1" style="padding:0px;margin:0px;min-width:100%;height:450px;">
      <center>
        <div class="ws_images" style="min-width:100%;">
          <ul style="min-width:100%;">
            <li><%= image_tag("traffle_1.png", alt:"Columns", id:"wows1_0")%></li>
            <li><%= image_tag("traffle_2.png", alt:"Columns", id:"wows1_0")%></li>
            <li><%= image_tag("traffle_3.png", alt:"Columns", id:"wows1_0")%></li>
            <li><%= image_tag("traffle_4.png", alt:"Columns", id:"wows1_0")%></li>
            <li><%= image_tag("traffle_1.png", alt:"Columns", id:"wows1_0")%></li>
            <li><%= image_tag("traffle_2.png", alt:"Columns", id:"wows1_0")%></li>
          </ul>
        </div>
      </center>
    </div>
  </div>
</div>
<div class="container-fluid" style="padding-top:2em;padding-bottom:2em;">
  <div class="products">
		<div class="col-md-12">
      <div class="content-top1">
        <% @products.each do |p| %>
          <div class="col-md-4" style="margin-top:15px;">
            <%= render :partial => 'item', locals: {p: p} %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3 style="text-align:center;color:#BA4A00;border-bottom: 2px solid #BA4A00;padding:12px;margin:25px;">RAFFLE ITEMS</h3>
        </div>
        <div class="col-md-12">
          <div class="content-top1">
            <% @raffle_products.each do |q| %>
              <div class="col-md-12" style="margin-top:15px;">
                <%= render :partial => 'raffle', locals: {p: q} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3 style="text-align:center;color:#BA4A00;border-bottom: 2px solid #BA4A00;padding:12px;margin:25px;">RECENT WINNERS</h3>
        </div>
        <div class="col-md-12">
          <div class="content-top1">
            <% @winners_profile.each do |p| %>
              <div class="col-md-3" style="margin-top:15px;">
                <div class="row" style="border: 1px solid #BA4A00;">
                  <%if p.avatar.present? %>
                    <%= image_tag (p.avatar(:original)), class: 'img-responsive img-thumbnail', style:"width:100%;height:260px;" %>
                  <%elsif p.image_url != nil%>
                    <%= image_tag (p.image_url), class: 'img-responsive img-thumbnail', style:"width:100%;height:260px;" %>
                  <%else %>
                    <%= image_tag ("user.png"), class: 'img-responsive img-thumbnail', style:"width:100%;height:260px;" %>
                  <%end%>
                  <center>
                    <div class="col-md-12 col-xs-12">
                      <h4 style="margin-left:7px;color:#BA4A00;"><%= p.name%>  wins
                      <% @product = Product.where(:winner_id => p.id).select("title") %>
                      <%= @product[0].title %> </h4>
                    </div>
                  </center>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <h3 style="text-align:center;color:#BA4A00;border-bottom: 2px solid #BA4A00;padding:12px;margin:25px;">OUR PARTNERS</h3>
        </div>
        <div class="col-md-2 col-xs-12">
          <%= image_tag('quickteller.png', style:"width:250px;height:130px;", class:"img-thumbnail img-responsive")%>
        </div>
        <div class="col-md-2 col-xs-12">
          <%= image_tag('visa.svg', style:"width:250px;height:130px;", class:"img-thumbnail img-responsive")%>
        </div>
        <div class="col-md-2 col-xs-12">
          <%= image_tag('master.jpg', style:"width:250px;height:130px;", class:"img-thumbnail img-responsive")%>
        </div>
        <div class="col-md-2 col-xs-12">
          <%= image_tag('verve.png', style:"width:250px;height:130px;", class:"img-thumbnail img-responsive")%>
        </div>
        <div class="col-md-2 col-xs-12">
          <%= image_tag('Interswitch.jpg', style:"width:250px;height:130px;", class:"img-thumbnail img-responsive")%>
        </div>
        <div class="col-md-2 col-xs-12">
          <%= image_tag('national.jpg', style:"width:250px;height:130px;", class:"img-thumbnail img-responsive")%>
        </div>
      </div>
    </div>
  </div>
</div>
