<% content_for :title, "Home | Traffle" %>

<div class="container-fluid" style="background:#F5CBA7;">
  <div class="mainmenu-area">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify" style="font-size:33px;color:#BA4A00;"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" style="padding:0px;margin:0px;">
          <ul class="nav navbar-nav" style="padding:0px;margin:0px;">
            <li class="active"><%= link_to("Home", root_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Real Estate",  real_estate_homes_path, class:"my_nav_bar", onclick:"change(this, 1)")%></li>
            <li><%= link_to("Electronics",  electronics_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Phones and Tablets",  phone_and_tablets_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Automobiles",  automobiles_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Featured Items",  featured_items_homes_path, class:"my_nav_bar")%></li>
            <li><%= link_to("Sell an Item",  new_user_product_path, class:"my_nav_bar")%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <% if notice %>
    <div id="notice_wrapper" class="my_notice">
      <center><p class="app_notice"><%= notice %></p></center>
    </div>
  <%elsif alert %>
    <div id="notice_wrapper" class="my_alert">
      <center><p class="app_alert"><%= alert %></p></center>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12" style="padding:0px;margin:0px;width:100%;height:500px;">
    <!-- Start WOWSlider.com BODY section -->
    <% @num = rand(1..3) %>
    <div id="wowslider-container1" style="padding:0px;margin:0px;width:100%;height:500px;">
      <center>
        <div class="ws_images">
          <ul>
            <%if @num == 1 %>
              <li><%= image_tag("6.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("7.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("8.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("12.png", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("13.png", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("14.png", alt:"Columns",  id:"wows1_0")%></li>
            <%elsif @num == 2%>
              <li><%= image_tag("15.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("16.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("17.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("18.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("19.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("20.jpg", alt:"Columns",  id:"wows1_0")%></li>
            <%else%>
              <li><%= image_tag("9.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("10.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("11.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("23.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("24.jpg", alt:"Columns",  id:"wows1_0")%></li>
              <li><%= image_tag("25.jpg", alt:"Columns",  id:"wows1_0")%></li>
            <%end%>
          </ul>
        </div>
      </center>
    </div>
  </div>
</div>
<div class="container-fluid" style="padding-top:2em;padding-bottom:2em;">
  <div class="products">
		<div class="col-md-12">
      <div class="content-top1">
        <% @products.each do |p| %>
          <div class="col-md-4" style="margin-top:15px;">
            <%= render :partial => 'item', locals: {p: p} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
