<script>
 $(document).ready(function() {
   $('.flexslider').flexslider({
     animation: "slide",
     controlNav: "thumbnails"
   });
 });
</script>
<% content_for :title, "Item Detail | Traffle" %>
<div class="container-fluid my_top_div">
  <div class="single">
    <div class="container">
      <div class="col-md-12">
        <div class="col-md-5 grid col-xs-12">
      		<div class="flexslider">
      			  <ul class="slides">
                <% @images = @product.images%>
                <% @images.each do |i|%>
                  <li data-thumb="<%= i.avatar%>">
                      <div class="thumb-image"> <%= image_tag(i.avatar, data: { 'imagezoom' => true}, class:"img-responsive")%></div>
                  </li>
                <%end%>
      			  </ul>
      		</div>
      	</div>
        <div class="col-md-7 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <center>
                <h1 class="admin_heading" style="text-transform: uppercase;"><%= @product.title%></h1>
              </center>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-xs-12">
              <h4 class="admin_key">Item ID: </h4> <h4 class="admin_value"><%= @product.id%></h4>
            </div>
            <div class="col-md-12 col-xs-12">
              <h4 class="admin_key">Item Category: </h4> <h4 class="admin_value"><%= @product.category%></h4>
            </div>
            <div class="col-md-12 col-xs-12">
              <h4 class="admin_key">Total Tickets: </h4> <h4 class="admin_value"><%= @product.total_tickets %></h4>
            </div>
            <div class="col-md-12 col-xs-12">
              <h4 class="admin_key">Sold Tickets: </h4> <h4 class="admin_value"><%= @product.sold_tickets %></h4>
              <br>
              <br>
            </div>
            <div class="col-md-12 col-xs-12">
            </div>
            <br>
            <div class="col-md-12">
              <h4 class="admin_value" style="margin:0px; word-break: normal;"><%= @product.short_description %></h4>
              <br>
              <br>
              <br>
            </div>
            <div class="col-md-12">
              <h4 class="admin_value" style="margin:0px; word-break: normal;"><%= @product.long_description %></h4>
            </div>
          </div>
          <% if @product.approve == false %>
            <br><br>
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6 col-xs-12">
                <%= link_to("Approve this Item", approve_product_admin_product_path(@product.id), class:"btn btn-block btn-info")%>
              </div>
              <div class="col-md-3">
              </div>
            </div>
          <% end %>
        </div>
        <div class="clearfix"></div>
        <div class="content-top1">
          <% @products.each do |p| %>
            <div class="col-md-4 col-md4">
              <div class="col-md1 simpleCart_shelfItem">
                <%= link_to home_path(p.id) do %>
                  <%= image_tag(p.images[0].avatar, class:"img-responsive")%>
                <%end%>
                <% @count_down = p.count_down%>
                <h3><a href="#"><%= p.title %></a></h3>

                <%= render :partial => 'countdown' %>
                <br>
                 <div class="row" style="border: solid 1px #0000FF; padding:0.7em;height:4em;">
                   <div class="col-md-2 col-xs-12" style="height:4em;">
                     <label style="font-size:20px; margin-top:0.7em;" > ₦</label>
                   </div>
                   <div class="col-md-10">
                     <div class="row">
                       <%= form_for :ticket, url: add_to_cart_user_cart_path(p.id, key: 1) do |f| %>
                         <div class="col-md-8 col-xs-12" style="height:4em;padding:0px;margin-top:0.5em">
                           <div class="form-group">
                             <%=f.number_field :price, class:"form-control  price_field", placeholder:"Enter the amount", id:"inputdefault", min:"100", step:"100", required:true%>
                           </div>
                         </div>
                         <div class="col-md-4 col-xs-12" style="padding:0px; margin-top:0.4em;">
                           <%= f.submit "Buy", style:"float-left;width:100%;height:80%;", class:"btn  cart_button" do %>
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                           <% end %>
                         </div>
                       <%end%>
                     </div>
                   </div>
                   <div class="col-md-12 col-xs-12">
                     <div class="row">
                       <div class="col-md-5">
                       </div>
                       <div class="col-md-7">
                         <label style="float:right;">1 ticket = N100.00</label>
                       </div>
                     </div>
                   </div>
                 </div>
              </div>
            </div>
          <% end %>

          <div class="clearfix"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
