<% content_for :title, "Category | Traffle" %>
<div class="container" style="padding-top:9em;padding-bottom:2em;">
  <div class="row">
    <br>
    <div class="col-md-12 admin_border">
      <%= form_with(model: @category, url: admin_category_path, method: :patch, local: true, html: { multipart: true, class:"login", style:"min-width:100%;max-width:100%;padding-bottom:0em;" }) do |f| %>
        <p class="title" style="text-align:center;">Edit Category</p>
        <% if @category.errors.any? %>
          <div class="form-group alert alert-error alert-block" id="error_explanation">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <h4 class="heading_error">Cannot save this Item</h4>
            <% @category.errors.full_messages.each do |message| %>
              <h6 class="heading_error"><%= message%></h6>
            <% end %>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <%= f.label :title, "Title", class:"label", style:"font-size:1em;" %><br />
          </div>
          <div class="col-md-4 col-xs-12">
            <%= f.text_field :title, autofocus: true, placeholder: 'Item Title', class: 'form-control', style:"font-size: 1em;", required: true %>
          </div>
          <div class="col-md-4 col-xs-12">
            <center><%= f.submit "Save", style:"margin-top:0em;min-height:30px;max-width:50%;float:center;"%></center>
          </div>
        </div>
      <%end%>
    </div>
    <br>
  </div>
</div>
