<% content_for :title, "Edit Item | Traffle" %>
<div class="container-fluid my_top_div">
  <div class="row">

    <div class="col-md-9">
      <div class="jumbotron" style="padding: 2.5em 0px 0px 0px;background:#11AA99;">
        <%= form_with(model: @product, url: admin_product_path, method: :patch, local: true, html: {class:"login", style:"min-width:100%;max-width:100%;padding-bottom:3em;" }) do |f| %>
            <% if @product.errors.any? %>
              <div class="form-group alert alert-error alert-block" id="error_explanation">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <% @product.errors.full_messages.each do |message| %>
                  <h6 class="heading_error"><%= message%></h6>
                <% end %>
              </div>
            <% end %>
            <div class="row">
              <div class="col-md-4 col-xs-12">
                <%= f.label :category, "Category", class:"label" %><br />
                <%= f.select :category, options_for_select([ "Real Estate", "Electronics", "Phones and Tablets", "Automobiles", "Featured Items", "Promoted Items"]),{prompt: "Select Item Category"}, {class: 'form-control', style:"font-size: 0.9em;", required: true}%>
              </div>
              <div class="col-md-4 col-xs-12">
                <%= f.label :title, "Title", class:"label" %><br />
                <%= f.text_field :title, autofocus: true, placeholder: 'Item Title  (minimum 10 characters)', class: 'form-control', style:"font-size: 1em;", required: true %>
              </div>
            </div>
            <%= f.submit "Save", style:"margin-top:1.2em;"%>
        <%end%>
      </div>
    </div>
  </div>
</div>
