<script>
 $(document).ready(function() {
   $('.flexslider').flexslider({
     animation: "slide",
     controlNav: "thumbnails"
   });
 });
</script>
<% content_for :title, "Item | Traffle" %>
<div class="container-fluid my_top_div" style="padding-bottom:3em;">
  <div class="row">
    <div class="col-md-12">

      <div class="single">
        <div class="col-md-12">
          <div class="col-md-5 grid col-xs-12">
        		<div class="flexslider">
        			  <ul class="slides">
                  <% @images = @product.images%>
                  <% @images.each do |i|%>
                    <li data-thumb="<%= i.avatar%>">
                        <div class="thumb-image"> <%= image_tag(i.avatar, data: { 'imagezoom' => true}, class:"img-responsive")%></div>
                    </li>
                  <%end%>
        			  </ul>
        		</div>
        	</div>

          <div class="col-md-7 col-xs-12">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <center>
                  <h1 class="admin_heading"><%= @product.title%></h1>
                </center>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-xs-12">
                <h4 class="admin_key">Item ID: </h4> <h4 class="admin_value"><%= @product.id%></h4>
              </div>
              <div class="col-md-7 col-xs-12">
                <% @str = @product.created_at.to_s %>
                <% @str = @str.tr('UTC', '')%>
                <h4 class="admin_key">Item Created At: </h4> <h4 class="admin_value"><%= @str %></h4>
              </div>
              <div class="col-md-5 col-xs-12">
                <h4 class="admin_key">Item Category: </h4> <h4 class="admin_value"><%= @product.category%></h4>
              </div>
              <div class="col-md-7 col-xs-12">
                <h4 class="admin_key">Total Tickets: </h4> <h4 class="admin_value"><%= @product.total_tickets %></h4>
              </div>
              <div class="col-md-5 col-xs-12">
                <h4 class="admin_key">Sold Tickets: </h4> <h4 class="admin_value"><%= @product.sold_tickets %></h4>
              </div>
              <div class="col-md-7 col-xs-12">
              </div>
              <div class="col-md-12">
                <h4 class="admin_key">Item Description: </h4>
              </div>
              <div class="col-md-12">
                <h4 class="admin_value" style="margin:0px;"><%= @product.short_description %></h4>
              </div>
              <div class="col-md-12">
                <h4 class="admin_key">Brief Description: </h4>
              </div>
              <div class="col-md-12">
                <h4 class="admin_value" style="margin:0px;"><%= @product.long_description %></h4>
              </div>
            </div>
            <% if @product.approve == false %>
              <br><br>
              <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-3 col-xs-12">
                  <%= link_to("Approve this Item", approve_product_admin_product_path(@product.id), class:"btn btn-sm show_button")%>
                </div>
                <div class="col-md-3 col-xs-12">
                  <%= link_to("Decline this Item", decline_product_admin_product_path(@product.id), class:"btn btn-block block_decline_button")%>
                </div>
                <div class="col-md-3">
                </div>
              </div>
            <% end %>
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6">
                  <%= link_to("Edit this Item", edit_admin_product_path(@product.id), class:"btn btn-sm show_button")%>
              </div>
              <div class="col-md-3">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
