<% content_for :title, "Forgot Password | Traffle" %>
<div class="container-fluid signup_login_bg my_top_div" style="padding-bottom:2em;">
  <br><br>
  <div class="row">
    <div class="col-md-6 col-xs-12"  style="margin-bottom: 3em;">
      <center>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "login" }) do |f| %>
          <p class="title">Forgot your password?</p>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Your Email', class: 'form-control', required: true %>
          </div>
          <div class="form-group">
            <%= f.submit "Send me reset password instructions" %>
          </div>
        <% end %>
      </center>
    </div>
    <div class="col-md-6 col-xs-12">
      <div class="jumbotron" style="background: #FFFFFF;">
        <h2 class="heading_sign">SIGN UP / SIGN IN</h2>
        <br>
        <h3 class="text_sign">Registration is required for new users who wish to play for an
          item or want to sell an item on the TRAFFLE. Signing up is easy and free of
          charge, simply provide an email address and
          you are good to go. Afterwards, proceed to setting up your
          profile to provide a detailed information of yourself. We would
          love to know more about you.</h3>
        <%= render "users/shared/links"%>
      </div>
    </div>
  </div>
</div>
