<% content_for :title, "Withdraw Request | Traffle" %>
<div class="container">
  <br><br><br>
  <div class="row">
    <div class="col-md-12">
      <div class="single">
        <div class="col-md-12">
          <div class="col-md-5 grid col-xs-12">
        		<div class="flexslider">
              <ul class="slides">
                <%if @user.avatar.present? %>
                  <%= image_tag (@user.avatar(:original)), class: 'img-responsive img-circle img-thumbnail profile-img', style:"width:200px;height:200px;" %>
                <%elsif @user.image_url != nil%>
                  <%= image_tag (@user.image_url), class: 'img-responsive img-circle img-thumbnail profile-img', style:"width:200px;height:200px;" %>
                <%else %>
                  <%= image_tag ("user.png"), class: 'img-responsive img-circle img-thumbnail profile-img', style:"width:200px;height:200px;" %>
                <%end%>
              </ul>
        		</div>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                  <h1 class="admin_heading">Account's Details</h1>
                  <br>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">Name: </h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_value_1"><%= @user.recipient.name%></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">Account Number: </h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_value_1"><%= @user.recipient.account_number%></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">Bank Code: </h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_value_1"><%= @user.recipient.bank_code%></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">PayStack Recipient Code: </h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_value_1"><%= @user.recipient.recipient_code%></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">PayStack Recipient ID: </h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_value_1"><%= @user.recipient.paystack_recipient_id%></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">Description: </h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_value_1"><%= @user.recipient.description%></h4>
              </div>
            </div>
        	</div>

          <div class="col-md-7 col-xs-12">
            <div class="row">
              <div class="col-md-12 col-xs-12">
                  <h1 class="admin_heading">User's Details</h1>
                 <br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">Name: </h4> <h4 class="admin_value"><%= @user.name%></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">Nick Name: </h4> <h4 class="admin_value"><%= @user.nick_name%></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">Gender: </h4> <h4 class="admin_value"><%= @user.gender %></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">DOB: </h4> <h4 class="admin_value"><%= @user.dob %></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">Email: </h4> <h4 class="admin_value"><%= @user.email %></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">Credit in Wallet: </h4> <h4 class="admin_value">₦<%= @user.wallet %></h4>
              </div>
              <div class="col-md-12 col-xs-12">
                <h4 class="admin_key">Credit in Account: </h4> <h4 class="admin_value">₦<%= @user.balance %></h4>
              </div>
              <div class="col-md-12">
                <h4 class="admin_key">Address: </h4>
              </div>
              <div class="col-md-12">
                <h4 class="admin_value" style="margin:0px;"><%= @user.address %></h4>
              </div>
              <div class="col-md-12">
                <h4 class="admin_key">City: </h4> <h4 class="admin_value"><%= @user.city %></h4>
              </div>
              <div class="col-md-12">
                <h4 class="admin_key">State: </h4> <h4 class="admin_value"><%= @user.state %></h4>
              </div>
              <div class="col-md-12">
                <h4 class="admin_key">Zip Code: </h4> <h4 class="admin_value"><%= @user.zip %></h4>
              </div>
              <div class="col-md-12">
                <h4 class="admin_key">Country: </h4> <h4 class="admin_value"><%= @user.country %></h4>
              </div>
            </div>
              <br><br>
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                  <center>
                    <%= link_to("Funds Transfered",  transfer_admin_request_path(@request), class:"btn btn-block btn-success") %>
                    <br>
                    <p style="color:#BA4A00;">Press this button after transfering funds from Your PAYSTACK ADMIN PANEL</p>
                  </center>
                </div>
                <div class="col-md-2">
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</br></br></br></br>
</div>
