<div class="row" style="margin:0px;padding:0px;">
  <div class="col-md-12 col-x-12">
    <div class="mydropdown" style="float:right;">
      <button class="mydropbtn"><span class="glyphicon glyphicon-user"></span> <%= current_admin.email%> <span style="font-size:12px;" class="glyphicon glyphicon-menu-down"></span></button>
      <div class="mydropdown-content">
        <%= link_to "Logout",  destroy_admin_session_path, method: :delete%>
      </div>
    </div>
    <div class="mydropdown" style="float:right;">
      <button class="mydropbtn"><span class="glyphicon glyphicon-bell"></span> Notifications <%= @notifications.count%> <span style="font-size:12px;" class="glyphicon glyphicon-menu-down"></span></button>
      <div class="mydropdown-content" style="width:150%;z-index:99999;">
        <% @notifications.each do |i| %>
          <%= link_to i.description, show_all_admin_admin_notification_path(id: i.id) %>
        <% end %>
        <%= link_to "Show All Notifications", admin_admin_notifications_path %>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" style="background:#F5CBA7;">
  <div class="mainmenu-area">
    <div class="container-fluid">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="glyphicon glyphicon-align-justify" style="font-size:33px;color:#BA4A00;"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" style="padding:0px;margin:0px;">
          <ul class="nav navbar-nav" style="padding:0px;margin:0px;">
            <li style="padding:0px;margin:0px;"><%= link_to "Dashboard", root_path%></li>
            <li>
              <div class="adminmydropdown">
                <a class="adminmydropbtn">Traffle Users <span style="font-size:12px;" class="glyphicon glyphicon-menu-down"></span></a>
                <div class="adminmydropdown-content">
                  <%= link_to("All Users", admin_users_path) %>
                  <%= link_to("Blocked Users", all_blocked_users_admin_users_path) %>
                </div>
              </div>
            </li>
            <li style="padding:0px;margin:0px;"><%= link_to("Traffle Subscribers",  newsletters_path) %></li>
            <li>
              <div class="adminmydropdown">
                <a class="adminmydropbtn">Traffle Items <span style="font-size:12px;" class="glyphicon glyphicon-menu-down"></span></a>
                <div class="adminmydropdown-content">
                  <%= link_to("All Items",  admin_products_path) %>
                  <%= link_to("Approved Items",  approved_products_admin_products_path) %>
                  <%= link_to("Unapproved Items",  unapproved_products_admin_products_path) %>
                  <%= link_to("Select Raffle Items", select_raffle_items_admin_products_path) %>
                  <%= link_to("Raffle Item", all_raffle_items_admin_products_path) %>
                </div>
              </div>
            </li>

            <li style="padding:0px;margin:0px;"><%= link_to("Add New Item",  new_admin_product_path) %></li>
            <li style="padding:0px;margin:0px;"><%= link_to("My Item",  my_products_admin_products_path) %></li>
            <li style="padding:0px;margin:0px;"><%= link_to("Withdraw Requests",  admin_requests_path) %></li>
            <li style="padding:0px;margin:0px;"><%= link_to("Support",  contacts_path) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" >
  <% if notice %>
    <div id="notice_wrapper" class="my_notice">
      <center><p class="app_notice"><%= notice %></p></center>
    </div>
  <%elsif alert %>
    <div id="notice_wrapper" class="my_alert">
      <center><p class="app_alert"><%= alert %></p></center>
    </div>
  <% end %>
</div>
<!--banner-->
<%= yield %>
