<div class="header" style="margin:0px;padding:0px;">
  <div class="container-fluid" style="background:#FFFFFF;min-height:30px;margin:0px!important;padding:0px!important;">
    <div class="row" style="margin:0px;padding:0px;">
      <div class="col-md-12 col-xs-12">
        <div class="row">
          <% if user_signed_in? %>
            <div class="mydropdown" style="float:right;">
              <button class="mydropbtn"><span class="glyphicon glyphicon-user"></span> <%= current_user.name%> <span style="font-size:12px;" class="glyphicon glyphicon-menu-down"></span></button>
              <div class="mydropdown-content">
                <%= link_to "Dashboard",  user_dashboard_path(current_user)%>
                <%= link_to "Logout",  destroy_user_session_path, method: :delete%>
              </div>
            </div>
            <div class="mydropdown" style="float:right;">
              <button class="mydropbtn"><span class="glyphicon glyphicon-bell"></span> Notifications <%= @current_user_notifications.size%> <span style="font-size:12px;" class="glyphicon glyphicon-menu-down"></span></button>
              <div class="mydropdown-content" style="width:255%;">
                <% @current_user_notifications.each do |i| %>
                  <% if i.category == 2 || i.category == 4%>
                    <%= link_to i.description, tickets_user_notification_path(id: i.id, key: i.category) %>
                  <% elsif i.category == 3 %>
                      <%= link_to i.description, tickets_user_notification_path(id: i.id, key: i.category) %>
                  <% elsif i.category == 6 %>
                    <%= link_to i.description, user_notification_path(id: i.id) %>
                  <% elsif i.category == 7 %>
                    <%= link_to i.description, read_user_notification_path(id: i.id) %>
                  <% else %>
                    <%= link_to i.description, user_notification_path(id: i.id, key: i.category), method: :patch %>
                  <%end%>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="mydropdown" style="float:right;">
              <button class="mydropbtn"><span class="glyphicon glyphicon-user"></span> My Account <span style="font-size:12px;" class="glyphicon glyphicon-menu-down"></span></button>
              <div class="mydropdown-content">
                <%= link_to "SIGNUP", new_user_registration_path%>
                <%= link_to "LOGIN", new_user_session_path%>
              </div>
            </div>
          <% end %>
          <div class="mydropdown" style="float:right;">
            <button class="mydropbtn">
              <%= link_to user_carts_path, class:"mydropbtn", style:"text-decoration:none;" do%>
                <span class="glyphicon glyphicon-heart"></span> Wish List
              <%end%>
            </button>
          </div>
          <div class="mydropdown" style="float:right;">
            <button class="mydropbtn">
              <%= link_to check_out_user_carts_path, class:"mydropbtn", style:"text-decoration:none;" do%>
                <span class="glyphicon glyphicon-check"></span> Check Out
              <%end%>
            </button>
          </div>
          <div class="mydropdown" style="float:right;">
            <button class="mydropbtn">
              <%= link_to user_carts_path, class:"mydropbtn", style:"text-decoration:none;" do%>
                <span class="glyphicon glyphicon-shopping-cart"></span> Playing Cart
              <%end%>
            </button>
          </div>
          <div class="mydropdown" style="float:right;padding:10px;">
            <%= link_to("How to Play", how_to_play_homes_path, class:"play") %>
          </div>
          <div class="mydropdown" style="float:right;padding:10px;">
            <%= link_to("Play Now",  play_homes_path, class:"play") %>
          </div>
          <% unless user_signed_in? %>
            <div class="mydropdown" style="float:left;padding:10px;">
              Welcome to TRAFFLE <%= link_to "Join Free", new_user_registration_path, style:"color:#BA4A00;text-decoration:none;"%>
            </div>
          <%end%>
        </div>
        <hr style="margin-top:-1px;width:100%;height:3px;">
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin:0px;padding:0px;">
  <div class="col-md-2 col-x-12">
    <center>
      <%= image_tag('logo_128.png', style:"height:55px;margin-top:-15px;", class:"img-responsive")%>
    </center>
  </div>
  <div class="col-md-7 col-x-12">
    <!-- Search -->
    <div class="row" style="width:100%;margin:0px;padding-top:5px;">
      <%= form_for :home, url: search_homes_path do |f|%>
        <div class="col-md-3 col-xs-12" style="padding:0px;margin:0px;min-height:42px;max-height:42px;">
          <%= f.select :category, options_for_select(["Real Estate", "Electronics", "Phones and Tablets", "Automobiles", "Featured Items"]),{prompt: "All Categories"}, {class: 'search_select'}%>
        </div>
        <div class="col-md-8 col-xs-12" style="padding:0px;margin:0px;min-height:42px;max-height:42px;">
          <%= f.text_field :search, placeholder:"Search", required: true, class:"form-control", style:"margin:0px!important;border: 1px solid #e5e5e5;box-shadow:none;border-radius:0px;min-height:42px;max-height:42px;color:#BA4A00;"%>
        </div>
        <div class="col-md-1 col-xs-12" style="padding:0px;margin:0px;min-height:42px;max-height:42px;">
          <%= f.submit "S", style:"display:none;"%>
          <button class="btn btn-block btn-search"><span class="glyphicon glyphicon-search"></span></button>
        </div>
      <%end%>
    </div>
    <!-- //end Search -->
  </div>
  <div class="col-md-3 col-x-12">
    <!--cart-->
    <center>
      <div id="cart" class="btn-group btn-shopping-cart">
        <%= link_to user_carts_path, style:"padding:0px!important;margin:0px!important;", class:"top_cart dropdown-toggle" do%>
          <div class="row" style="padding-top:10px;margin-top:5px;">
            <div class="col-md-3 col-xs-3">
              <span class="glyphicon glyphicon-shopping-cart" style="font-size:30px;color:#BA4A00;"></span>
            </div>
            <div class="col-md-9 col-xs-9">
              <span class="title" style="font-size:14px;color:#273746;">My cart</span>
              <% if user_signed_in? %>
                <p class="text-shopping-cart cart-total-full" style="font-size:11px;color:#85929E;"><%= session[:cart_count]%> item(s) - ₦ <%=session[:cart_price]%> </p>
              <%else%>
                <p class="text-shopping-cart cart-total-full" style="font-size:11px;color:#85929E;">0 item - ₦ 0 </p>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
    </center>
    <!--//cart-->
  </div>
</div>
<%= yield %>
